<div class="media">
  <div class="media-left">
    <%= link_to post.user do %>
      <%= image_tag post.user.avatar, class: "media-object img-circle" %>
    <% end %>
  </div>
  <div class="media-body">
    <%= simple_format post.body %>
    <!-- <small>Posted by <%= post.user.username %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", controller: "chirps", action: "show", id: post.id %></small> -->
    <!-- <small>Posted by <%= post.user.username %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", "/posts/#{post.id}" %></small> -->
    <!-- <small>Posted by <%= post.user.username %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", post_path(id: post.id) %></small> -->
    <!-- <small>Posted by <%= post.user.username %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", post_path(post.id) %></small> -->
    <!-- <small>Posted by <%= post.user.username %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", post_path(post) %></small> -->
    <strong>Posted by <%= link_to post.user.username, post.user, class: "btn btn-default" %> <%= link_to "#{time_ago_in_words(post.created_at)} ago", post %>
      <% if post.is_owner? current_user %>
        <%= button_to "Delete!", post, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </strong>
  </div>
</div>
