<!-- Middle section with changing contents -->
<section class='container-fluid'>
   <div class='row'>
     <!-- left half -->
     <div class='col-sm-8'>
       <div class='row'>
         <h1><%= @post.title%></h1>
         <div class='row'>
           <h5 class='col-xs-2'><%= @post.user.name %></h5>
           <h5 class='col-xs-4'><%= @post.created_at %></h5>
         </div>
       </div>
       <div class='row'>
         <h2><%= @post.body %></h2>
       </div>
       <div class='row'>
         <!-- the three buttons go here -->
         <a href='#'><button type='button'>Read Comments</button></a>
         <a href='#'><button type='button'>Read Later</button></a>
         <a href='#'><button type='button'>Share This Post</button></a>
         <% if @post.is_owner?(current_user) %>
           <a href="<%= edit_post_path @post %>"><button type='button'>Edit This Post</button></a>
         <% end %>
       </div>
     </div>
     <!-- right half -->
     <div class='col-sm-4'>
       <div class='container-flex rc text-center'>
         <!-- user image goes here -->
         <div id='squeeze'><%= image_tag('user.jpg', class: "img-circle") %></div>
         <%= @post.user.name %>
         <!-- <h5>Twitter Facebook Instagram</h5> -->
         <div class='row compress'>
           <button type='button' class='col-xs-4 clr'>Twitter</button>
           <button type='button' class='col-xs-4 clr'>Facebook</button>
           <button type='button' class='col-xs-4 clr'>Instagram</button>
         </div>
         <!-- Ad image -->
         <%= image_tag('ad.jpg') %>
         <a id=rightalign href='#'>About this ad</a>
         <h2>Sidebar section heading</h2>
         <!-- Sidebar text -->
         <h6 id=leftalign>But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</h6>
       </div>
     </div>
   </div>
</section>

<!-- Four picture boxes -->
<div class='container'>
  <div class='row'>
    <% @posts.each do |post|%>
      <div class='col-xs-3 hoveropacity'>
        <%=link_to(image_tag('boat.jpg'), controller:'posts', action:'show', id: post.id) %>
        <h6 class='position_title'><%= post.title %></h6>
      </div>
    <% end %>
  </div>
</div>
