<!DOCTYPE html>
<html>
  <head>
    <title>Surf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bdy'>
  <div class="jumbotron">
  <nav class="navbar">
    <div class="container-fluid">
      <div class='navbar-header'>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag('surf.svg',alt:'logo',class:'img-responsive media-object logo') %>
        <% end %>
        <a class='navbar-brand' href='/'>SURF &amp; CO BLOG</a>
      </div>
      <div class='navbar-right'>
        <ul class='nav navbar-nav'>
          <li class='navbar-text'><a href='#'>About</a></li>
          <% if current_user %>
            <%= link_to "Post!", new_post_path, class: "btn btn-success" %>
            <%= link_to "Logout!", logout_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Login!", login_path, class: "btn btn-primary" %>
            <%= link_to "Signup!", new_user_path, class: "btn btn-primary" %>
          <% end %>
          <!-- <li class='navbar-text'><a href='<%= new_post_path %>'>NewPost</a> -->
          <li class='navbar-text'><a href='#'>Search</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <h1 class="text-center">SURF & PADDLE CO</h1>
    <h6 class="text-center">An Ironyard academy project Est. Fall 2013'</h6>
  </div>
</div>

      <%= yield %>

<!-- bottom section -->
<div>
  <!-- This is the header for the bottom section -->
  <div class='bottom_header'>
    <h1 id='bottom_header_text'>Most Popular Posts</h1>
  </div>



  <!-- Footer goes here -->
  <footer class="footer">
    <div class="container bottomnav">
      <div class='row'>
        <div class='col-xs-6'>
          <p>The Ironyard Copyright 2013.  All rights reserved</p>
        </div>
        <div class='col-xs-6 fnr'>
          <p>Nav item 1 |</p>
          <p>Nav item 2 |</p>
          <p>Nav item 3 |</p>
          <p>Nav item 4</p>
        </div>
      </div>
    </div>
  </footer>

</div>



  </body>
</html>
