<!DOCTYPE html>
<html>
  <head>
    <title>Surf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="jumbotron">
  <nav class="navbar">
    <div class="container-fluid">
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'><%= image_tag('surf.svg',alt:'logo',class:'img-responsive') %></a>
      </div>
      <div class='navbar-right'>
        <ul class='nav navbar-nav'>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Search</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <h1 class="text-center">SURF & PADDLE CO</h1>
    <h6 class="text-center">An Ironyard academy project Est. Fall 2013'</h6>
  </div>
</div>

      <%= yield %>

<!-- bottom section -->
<div>
  <!-- This is the header for the bottom section -->
  <div class='bottom_header'>
    <h1 id='bottom_header_text'>Most Popular Posts</h1>
  </div>

  <!-- Four picture boxes -->
  <div></div>

  <!-- Footer goes here -->
  <footer class="footer">
    <p>The Ironyard Copyright 2013.  All rights reserved</p>
    <div class="container">
      <p>Nav item 1</p>
      <p>Nav item 2</p>
      <p>Nav item 3</p>
      <p>Nav item 4</p>
    </div>
  </footer>

</div>



  </body>
</html>
